/********** MAJOR SECTION HEADING **********/
/******* Section Heading *******/
/*--- Minor Section Heading ---*/

/* ROBOTO STYLE GUIDE
* 100   - Thin
* 300   - Light
* 400   - Regular
* 400i  - Regular Italic
* 500   - Medium
NOT LOADED* 700   - Bold
NOT LOADED* 900   - Black
*/
body{
/*    font-family: 'Rubik', sans-serif;
    */
  font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.left-block{
    width: 50%;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    height:100%;
}

.left-block .alex, .desc{
    margin: 0px;
    margin-left: 6.25%;
    margin-right: 10.94%;
    font-weight: 400;
}
.left-block p{
    margin-left: 6.25%;
    margin-right: 17.19%;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}

.left-block .alex{
    margin-top: 67px;
    font-size: 40px;
    color: #4990E2;
    font-weight: 400;
}
.left-block .alex{
    font-size: 55px;
    font-weight: 700;
}
.left-block .desc{
    margin-top: 24px;
    font-size: 35px;
}
.orange-emphasis{
    color: #F5A623;
}
.bold{
    font-weight: 700;
}
.bold-green{
    color: #01B91A;
    font-weight: 700;
}

.right-block{
    width: 50%;
    background-image: url('/Images/low-poly-texture-7.png');
    position: absolute;
    top:0;
    right:0;
    height:100%;
    color: white;
    background-size:cover;
    margin: 0px;
}
.right-block .email{
    margin-left: 9.375%;
    margin-right: 18.28%;
    font-size: 35px;
}
.right-block .email p{
    margin-bottom: 7px;
    margin-top: 47.275%;
/*    margin-top: 247px;*/
}
.right-block .email .line{
    height: 4px;
    background-color: white; 
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}
.email:hover .line {
    width:0%;
}
.email:hover {
    cursor: pointer;
}
.right-block .availability{
    margin-left: 9.375%;
    margin-right: 33.59375%;
    font-size: 20px;
}

.right-block .contact-me-link{
    position: absolute;
    margin-left: 9.375%;
    margin-right: 54.375%;
    border: 3px solid white;
    text-align: center;
    padding: 0px;
    height: 51px;
    width: 36.25%;
    color: white;
    text-decoration: none;
}
.right-block .contact-me-link p{
    font-size:20px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 25%;
    width: 100%;
}

.right-block .nav{
    position: fixed;
    right: 2.75%;
    top: 5.75%;
    margin: 0px;
}
.right-block .nav p{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
}
.right-block .projects-link{
    text-decoration: none;
    color: white;
    padding-right: 2.1875%;
    padding-left:  2.1875%;
}
.right-block .projects-link p{
    display: inline-block;
}
.right-block .projects-link .project-line{
    height: 2px;
    background-color: white; 
    width: 0%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    margin-left: -8%;
/*    position: absolute;*/
/*    top: 24px;*/
    position: relative;
    top: -21px;
}
.projects-link:hover .project-line {
    width:116%;
    margin-left: -8%;
}
.right-block .container{
    display: inline-block;
    padding-right: 14px;
    padding-left: 14px;
}
.contact-line{
    background-color: white;
    height: 2px;
    margin-left: -8%;
    width: 116%;
    position: relative;
    top: -21px;
}




.right-block .mask{
    height: 100%;
    width: 100%;
    background-color: rgba(74, 74, 74, 0.1);
    position: absolute;
    top:0px;
    left: 0px;
}

.footer{
    position: absolute;
    bottom: 32px;
    left: 6.25%;
}
.footer a{
    text-decoration: none;
    margin: 0px;
    margin-right: 16px;
}




/* Shutter Out Horizontal */
.contact-me-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.contact-me-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.contact-me-link:hover, .contact-me-link:focus, .contact-me-link:active {
  color: black;
}
.contact-me-link:hover:before, .contact-me-link:focus:before, .contact-me-link:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}