/********** MAJOR SECTION HEADING **********/
/******* Section Heading *******/
/*--- Minor Section Heading ---*/

/* ROBOTO STYLE GUIDE
* 100   - Thin
* 300   - Light
* 400   - Regular
* 400i  - Regular Italic
* 500   - Medium
NOT LOADED* 700   - Bold
NOT LOADED* 900   - Black
*/
.left-block{
    width: 50%;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    height:100%;
}

.right-block{
    width: 50%;
    background-image: url('/Images/low-poly-texture-7.png');
    position: absolute;
    top:0;
    right:0;
    height:100%;
    color: white;
    background-size:cover;
}
.right-block .mask{
    height: 100%;
    width: 100%;
    background-color: rgba(74, 74, 74, 0.1);
    position: absolute;
    top:0px;
    left: 0px;
}

.footer{
    position: absolute;
    bottom: 32px;
    left: 40px;
}
.footer a{
    text-decoration: none;
    margin: 0px;
    margin-right: 16px;
}