/********** MAJOR SECTION HEADING **********/
/******* Section Heading *******/
/*--- Minor Section Heading ---*/

/* ROBOTO STYLE GUIDE
* 100   - Thin
* 300   - Light
* 400   - Regular
* 400i  - Regular Italic
* 500   - Medium
NOT LOADED* 700   - Bold
NOT LOADED* 900   - Black
*/
.timeline{
  width: 100%;
  font-size: 12px;
}
.project-left{
  float: left;
  width: 50%;
  background-color: green;
}
.project-right{
  float: left;
  width: 50%;
  background-color: #F2F2F2;
}
.project-right .navigation, .year, .content{
  float:none;
  display: block;
}
.project-right .navigation{
  height: 256px;
}
.project-right .year{
  height: 90px;
}
.project-right .content{
  height: 70px;
}
.project-right .year .date{
  font-size: 2em;
  text-align: center;
}
.project-right .content .date{
  font-size: 1.5em;
  text-align: center;
}

.left-block{
  text-align: center;
}

.project-right .content:hover{
  background-color: #E9E9E9;
  cursor: pointer;
}
.project-right .content:hover .left-block{
  background-color: #F5F5F5;
}

.left-block {
  height: 100%;
  width: 125px;
  background-color: white;
  align-content: center;
}

.left-block .date{
  position: relative;
  transform: rotate(-90deg);
  top: 35%;
}


/*.project-right .content .date{
  font-size: 1.5em;
  width: 115px;
  height: 100%;
  background-color: white;
  background-clip: content-box;
}*/

/********** INTRO BLOCK **********/
    .intro{
        height: 750px;
        color: #4A4A4A;
        margin: 0px
    }
    .intro .text-container{
        width: 600px;
        height: 231px;
        padding: 250px 0px 0px 50px;
    }
    .intro h1{
        margin: 0px;
        color: #4A90E2;
        font-size: 60px;
        font-weight: 300;
    }
    .intro h2{
        margin: 0px;
        margin-bottom: -12px;
        font-size: 24px;
        font-weight: 100;
    }
    .intro p{
        margin: 0px;
        font-size: 30px;
        font-weight: 400;
    }
    .intro .italics{
        font-style: italic;
    }
    .intro .orange-emphasis{
        color: #F5A623;
    }


    /********** PORTFOLIO BLOCK **********/
    .portfolio {}

    .portfolio h1{
        color: #4A4A4A;
    }
    /*--- Project Title ---*/
    .portfolioTitle {
        margin-left: 76px;
    }

    .portfolioTitle h1{
        margin: 0px;
        font-weight: 100;
        font-size: 65px;
    }
    .portfolioTitle .line{
        border-top: 1px solid #D8D8D8;
        width: 250px;
        margin-bottom: 65px;
    }

    /*--- Project Container ---*/
    .portfolio .all-projects-container{
        margin: 0px calc((100% - 1116px)/2) 50px calc((100% - 1116px)/2);
        height: auto;
    }

    /******* Project Box *******/
    .projectBox {
        position: relative;
        width: 350px;
        height: 350px;
        border: 1px solid #979797;
        border-radius: 10px;
        background-color:  white;
        transition-duration: 0.5s;
        float: left;
        margin: 10px;
    }

    /*--- Project Body ---*/
    .projectBox .projectBody{
        text-align: center;
        font-size: 1em;
        margin-top: 40px;
        margin-left: 38px;
        margin-right: 38px;
        font-size: 1em;
        color: #9B9B9B;
    }

    /*--- Header ---*/
    .projectBox .projectHeader {
        text-align: center;
    }
    .projectBox .projectHeader h1{
        color: #F5A623;
        margin-bottom: 0px;
        font-weight: 300;
        margin-top: 30px;
        padding: 0px;
        font-size: 2em;
    }
    .projectBox .projectHeader p{
        margin: 0px;
        padding: 0px;
        font-size: 1em;
        color: #4A4A4A;
    }

    /*--- Featured ---*/
    .projectBox .featured{
        font-size: 8px;
        color: #F5A623;
        text-align: center;
        position: absolute;
        right: 5px; top:5px;
    }
    .projectBox .featured .star{
        margin: 0px;
    }
    .projectBox .featured .star p{
        margin: 0;
        font-size: 8px;
    }

    /*--- Footer ---*/
    .projectBox .projectFooter{
        text-align: center;
        position: absolute;
        left: 0; bottom: 10px; right: 0;
        overflow-y: hidden;
    }
    .projectBox .projectFooter .arrows{
        position: absolute;
        bottom: -20px;
        right: 17px;
        transition-delay: 0.25s;
        transition-duration: 0.25s;
    }

    /*--- Hover ---*/
    div.projectBox:hover .arrows{
        left: 312px;
        bottom: 3px;
    }
    div.projectBox:hover{
        background-color: #4A4A4A;
        color: white;
    }
    div.projectBox:hover .projectHeader p{
        color: #D8D8D8;
    }
    div.projectBox:hover .projectBody p{
        color: #ffffff;
    }


    /********** FACTS BLOCK **********/
    .facts{
        clear: both;
        padding-top: 60px;
    }

    /*--- Title ---*/
    .factsTitle h1{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 100;
        margin-bottom: 0px;
        font-size:65px;
    }
    .factsTitle .line{
        border-top: 1px solid #D8D8D8;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    /*--- Container ---*/
    .all-facts-container{
        font-weight: 100;
        width: 80%;
        margin: auto;
        margin-top: 40px;
        align-content: center;
        text-align: center;
    }

    /******* Fact Box *******/
    .fact-box{
    /*    float: left;*/
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 22px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        align-content: center;
    }
    .fact-box h1{
        font-size: 48px;
        font-weight: 100;
        margin: auto;
        margin-left: 0px;
    }

    /*--- Indvidual Fact ---*/
    .indv-fact{
        margin: 0px;
    /*    float: left;*/
        display: inline-block;
        margin-left: 12px;
        margin-right: 12px;
        text-align: center;
    }
    .indv-fact h2 {
        font-size: 65px;
        font-weight: 100;
        margin: 0px;
    }
    .indv-fact p {
        font-size: 28px;
        font-weight: 100;
        margin: 0px;
    }

    /*--- Hobbies Block ---*/
    #hobbies{
        width: 100%;
        clear: both;
        text-align: center;
        align-content: center;
    }

    #hobbies .indv-fact{
        float: none;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }



    /********** CONTACT ME BLOCK **********/
    .contact{
        clear: both;
        margin-top: 50px;
    }

    /******* Contact Title *******/
    .contactTitle h1{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 100;
        margin-bottom: 0px;
        font-size:65px;
    }
    .contactTitle .line{
        border-top: 1px solid #D8D8D8;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .contactTitle p{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
        color: #D8D8D8;
        font-weight: 400;
        font-size: 20px;
    }

    /******* Contact Me Container*******/
    .contact-me-container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        text-align: center;
    }
    .contact-me-container a{
        text-decoration: none;
    }

    /*--- Contact Blurb Box---*/
    .contact-box{
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
    }
    .contact a:link, a:visited {
        color: #4A4A4A;
        font-size: 18px;
        font-weight: 300;
    }


    /********** ITEM DETAIL VIEW **********/
    .item-detail {
        background-color: white;
        border-color: #9B9B9B;
        border-width: 1px;
        border-style: solid;
        border-radius: 20px;
        width: 500px;
        height: 600px;
        display: none;
        position: fixed;
        left: calc(((100% - 500px)/2));
        top: 60px;
        margin: 0px 25px 0px 25px;
    }
    .item-detail * {
        text-align: center;
    }
    .item-detail.show{
        display: block;
    }

    /*--- Header ---*/
    .item-detail .header {
        margin-top: 25px;
    }
    .item-detail .header *{
        margin: 0px;
        color: #4A4A4A;
    }
    .item-detail .header h1{
        font-size: 30px;
        font-weight: 500;
        margin-top: 9px;
    }
    .item-detail .header p{
        font-size: 20px;
        font-weight: 300;
    }

    /*--- Body ---*/
    .item-detail .body{
        color: #9B9B9B;
        font-size: 20px;
        font-weight: 400;
        margin-top: 16px;
        margin-left: 25px;
        margin-right: 25px;
    }

    /******* Actionables *******/
    .item-detail .actionables{
        position:absolute;
        bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    /*--- Link To Product ---*/
    .item-detail .actionables .link-to-product{
        width: 200px;
        height: 55px;
        line-height: 55px;
        border-style: solid;
        border-color: #F6A623;
        border-width: 1px;
        border-radius: 3px;
        display: inline-block;
        transition-duration: 0.5s;
    }
    .item-detail .actionables .link-to-product p {
        font-size: 30px;
        color: #D8D8D8;
        font-weight: 500;
        margin: 0px;
        transition-duration: 0.5s;
    }
    .item-detail .actionables a {
        text-decoration: none;
    }

    /*--- Hover ---*/
    .link-to-product:hover > p {
        color: white !important;
    }

    .link-to-product:hover{
        background-color: #F6A623;
    }

    /*--- Close Button ---*/
    .item-detail .close-detail-button{
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #9B9B9B;
        right: 25px;
        top: 10px;
    }
    .item-detail .close-detail-button img{
        width: 25px;
        height: 25px;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    /********** FOOTER **********/
    footer{
        background-color: #1A5874;
        position: absolute;
        width: 100%;
        text-align: center;
        height: 35px;
        line-height: 35px;
    }
    footer p{
        color: #D8D8D8;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
    }

/*Iphone 5SE */
@media screen and (max-width: 320px){
    html,body {
/*        background: purple;*/
        width: 100%;
    }
    .intro{
        height: 550px;
    }
    .intro .text-container{
        width: 100%;
        height: 200px;
        padding: 60px 0px 0px 50px;
    }
    .intro h1{
        font-size: 50px;
    }
    .intro h2{
        font-size: 20px;
    }
    .intro p{
        font-size: 25px;
    }

}
/*Iphone 7 */
@media screen and (min-width: 321px) and (max-width: 375px){
    html, body{
/*        background: green;*/
    }
}
/*Iphone 7 Plus */
@media screen and (min-width: 375px) and (max-width: 414px){
    html, body{
/*        background: green;*/
    }
}

@media screen and (min-width: 414px){
    html, body{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }
}
